@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --white: #f0efef;
  --red: #a5240d;
  --yellow: #a5820d;
  --blue: #0d54a5;
  --green: #2ba50d;
  --purple: #8c0da5;
  --grey: #b8b8b8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h3,
p {
  font-family: Josefin Sans;
  color: var(--grey);
}

h1,
h3 {
  text-align: center;
}

p {
  font-size: large;
}

body {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
}

.container {
  padding: 10px;
  max-width: 680px;
}

.scoreboard {
  margin: 120px 0 80px 0;
  display: flex;
  justify-content: space-between;
}

.scoreboard p {
  margin-top: 20px;
}

.show {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  margin: 40px 0;
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 64px;
  height: 64px;
}

.symbols {
  margin: 0 5px;
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--white);
  outline: 10px solid;
}

.symbols:hover {
  outline: 15px solid;
}

#rock-btn {
  grid-area: rock;
  outline-color: var(--red);
}

#paper-btn {
  grid-area: paper;
  outline-color: var(--yellow);
}

#scissors-btn {
  grid-area: scissors;
  outline-color: var(--blue);
}

#lizard-btn {
  grid-area: lizard;
  outline-color: var(--green);
}

#spock-btn {
  grid-area: spock;
  outline-color: var(--purple);
}

.reset-btn-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

#reset-btn {
  width: 120px;
  height: 40px;
  border: 2px solid red;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 800;
}

#reset-btn:hover {
  border: 4px solid red;
}

.rules {
  border-radius: 5px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 620px) {
  h1 {
    font-size: 24px;
  }
  img {
    width: 48px;
    height: 48px;
  }
  .game-container {
    display: grid;
    justify-content: initial;
    place-items: center;
    grid-template-areas:
      'rock rock paper paper scissors scissors'
      'lizard lizard lizard spock spock spock';
  }
  .game-container button {
    width: 74px;
    height: 74px;
    margin: 15px 0;
  }
}

@media screen and (max-width: 480px) {
  body {
    height: 105vh;
  }

  .scoreboard {
    margin: 60px 0 40px 0;
  }

  img {
    width: 32px;
    height: 32px;
  }
  .symbols {
    outline: 5px solid;
  }

  .symbols:hover {
    outline: 8px solid;
  }
}